.buttonList {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn {
    font-size: 18px;
    width: 80px;
    height: 40px;
    border-radius:4px;

    
}

.btn:hover {
        background-color: rgb(169, 169, 169);
        transition: 0.5s;
        }



